<div class="container">
  <ul class="list-group list-group-flush" *ngFor="let atribute of setting.settings; let i = index">
    <li class="list-group-item" *ngIf="atribute.type === 'Integer'">
      <div class="form-group m-0" *ngIf="setting.objectType === 'Symbol'">
        <label *ngIf="atribute.type === 'Integer'" class="mr-3">{{atribute.title}}: </label>
        <input type="number" min="8" max="40" [(ngModel)]="atribute.defaultValue">
      </div>
    </li>
    <li class="list-group-item" *ngIf="atribute.type === 'Text'">
      <div class="form-group m-0">
        <label *ngIf="atribute.type === 'Text'" class="mr-3">{{atribute.title}}: </label>
        <input type="text" [(ngModel)]="atribute.defaultValue">
      </div>
    </li>
    <li class="list-group-item" *ngIf="atribute.type === 'Color'">
      <div class="form-group m-0">
        <label *ngIf="atribute.type === 'Color'" class="mr-3">{{atribute.title}}: </label>
        <input [(colorPicker)]="atribute.defaultValue" [style.background]="atribute.defaultValue"/>
      </div>
    </li>
    <li class="list-group-item" *ngIf="atribute.type === 'Boolean'">
      <div class="form-check form-check-inline m-0">
        <label *ngIf="atribute.type === 'Boolean'" class="mr-3">{{atribute.title}}: </label>
        <!-- <input class="form-check-input"
        type="checkbox"
        (change)="onChange(i)"
        [checked]="atribute.defaultValue == 'true'"> -->

        <input class="form-check-input"
        type="checkbox"
        [(ngModel)]="atribute.defaultValue">
      </div>
    </li>
    <li class="list-group-item" *ngIf="atribute.type === 'Font'">
      <div class="form-group m-0" *ngIf="setting.objectType === 'Symbol'">
        <label *ngIf="atribute.type === 'Font'" class="mr-3">{{atribute.title}}: </label>
        <select class="form-control" id="sel1" [(ngModel)]="atribute.defaultValue">
          <option value="Times New Roman">Times New Roman</option>
          <option value="Sans-serif">Sans-serif</option>
          <option value="Cursive">Cursive</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Monospace">Monospace</option>
          <option value="Courier New">Courier New</option>
        </select>
      </div>
    </li>
    <li class="list-group-item" *ngIf="atribute.type === 'Position'">
      <div class="form-group m-0" *ngIf="setting.objectType === 'Symbol'">
        <label *ngIf="atribute.type === 'Position'" class="mr-3">{{atribute.title}}: </label>
        <select class="form-control" id="sel1" [(ngModel)]="atribute.defaultValue">
          <option>center</option>
          <option>top</option>
          <option>bottom</option>
          <option>left</option>
          <option>right</option>
        </select>
      </div>
    </li>
    <li class="list-group-item" *ngIf="atribute.type === 'LineStyle'">
      <div class="form-group m-0" *ngIf="setting.objectType === 'Connection' || 'Grouping'">
        <label *ngIf="atribute.type === 'LineStyle'" class="mr-3">{{atribute.title}}: </label>
        <select class="form-control" [(ngModel)]="atribute.defaultValue">
          <option value="solid">solid</option>
          <option value="dashed">dashed</option>
          <option value="dotted">dotted</option>
        </select>
      </div>
    </li>
  </ul>

</div>
