<div class="col-12">
  <table class="table table-bordered table-striped">
    <thead class="table-primary">
      <caption class="text-info font-weight-bold p-3">{{setting.objectType | uppercase}}</caption>
      <tr class="bg-white text-info">
        <td>Name</td>
        <td>Value</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let atribute of setting.settings">
        <th>{{atribute.title}}</th>
        <td>{{atribute.defaultValue}}</td>
      </tr>
    </tbody>

  </table>
</div>
