<div class="form-group">
  <select id="inputFont" class="form-control">
    <option selected>Choose line style</option>
    <option>Solid</option>
    <option>Dashed</option>
    <option>Dotted</option>
  </select>
</div>