<div class="row">
  <div class="col-12">
    <table class="table table-bordered text-center m-4">
      <tr>
        <th class="col-6 table-success">Name</th>
        <td class="col-6">{{element.tag_name}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Color</th>
        <td class="col-6">{{element.color}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Height</th>
        <td class="col-6">{{element.height}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Width</th>
        <td class="col-6">{{element.width}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Border-width</th>
        <td class="col-6">{{element.border_width}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Border-radius</th>
        <td class="col-6">{{element.border_radius}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Background-color</th>
        <td class="col-6">{{element.background_color}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Font-size</th>
        <td class="col-6">{{element.font_size}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Font-weight</th>
        <td class="col-6">{{element.font_weight}}</td>
      </tr>
      <tr>
        <th class="col-6 table-success">Padding</th>
        <td class="col-6">{{element.padding}}</td>
      </tr>
    </table>
  </div>
</div>
