<div class="container m-5">
  <div [ngStyle]="{'background-color': element.background_color, 'width':element.width, 'height':element.height, 'border-width': element.border_width,
    'border-radius': element.border_radius}">
    <p [ngStyle]="{'color': element.color,
    'padding': element.padding,
    'font-size': element.font_size,
    'font-weight': element.font_weight}">{{element.tag_name}}</p>
  </div>
</div>
