<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-table-view [element]="el" *ngFor="let el of data"></app-table-view>
    </div>
    <div class="col-4">
      <app-live-view [element]="el" *ngFor="let el of data" [ngStyle]="element"></app-live-view>
    </div>
    <div class="col-4">
      <app-form-view [element]="el" *ngFor="let el of data"></app-form-view>
    </div>
  </div>
</div> -->

<div class="container-fluid mt-5">
  <app-main></app-main>
</div>
