<div class="container-fluid main-component">
  <div class="row">
    <div class="col-4 col-md-4">
      <app-table-window [setting]="currentSetting"></app-table-window>
    </div>
    <div class="col-4 col-md-4">
      <div class="form-group form-inline">
        <div class="form-group" *ngIf="isDisplayed">
          <label class="mr-3">Select element:</label>
          <select class="form-control" [(ngModel)]="currentObjectId" (change)="onObjectChange()">
            <option *ngFor="let setting of newObject" [value]="setting._id">{{setting.settings[0].defaultValue}}</option>
          </select>
        </div>

        <button class="btn-outline-info btn ml-3 mr-3" (click)="saveSetting()" [disabled]="!currentObjectId">Update</button>
        <button class="btn btn-outline-danger mr-3" (click)="deleteObject(currentObjectId)" [disabled]="!currentObjectId">Delete</button>
      </div>

      <div class="form-group ml-3">
        <button class="btn btn-outline-info mr-3" (click)="addNew()" [disabled]="currentObjectId">New</button>
        <button class="btn btn-outline-success mr-3" (click)="addObject()"  [disabled]="!currentSettingId">Save</button>
      </div>
      <div class="form-group ml-3" *ngIf="isVisible">
        <label>Select object type:</label>
        <select class="form-control" [(ngModel)]="currentSettingId" (change)="onSettingChange()">
          <option *ngFor="let setting of settings" [value]="setting._id">{{setting.objectType}}</option>
        </select>
      </div>
      <div class="col-12">
        <app-generate-window [setting]="currentSetting"></app-generate-window>
      </div>
    </div>
    <div class="col-4 col-md-4">
      <app-form-window [setting]="currentSetting"></app-form-window>
    </div>
  </div>
</div>
