<div class="container">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="element.tag_name">
  </div>
  <div class="form-group">
    <label>Color:</label>
    <input [(colorPicker)]="element.color" [style.background]="element.color" />
    <!-- <input [colorPicker]="color" (colorPickerChange)="color=$event" [style.background]="color" [value]="color" [(ngModel)]="element.color"/> -->
  </div>
  <div class="form-group">
    <label>Height:</label>
    <input type="text" [(ngModel)]="element.height"> px
  </div>
  <div class="form-group">
    <label>Width:</label>
    <input type="text" [(ngModel)]="element.width"> px
  </div>
  <div class="form-group">
    <label>Border-width:</label>
    <input type="text" [(ngModel)]="element.border_width"> px
  </div>
  <div class="form-group">
    <label>Border-radius:</label>
    <input type="text" [(ngModel)]="element.border_radius"> px
  </div>
  <div class="form-group">
    <label>Background-color:</label>
    <input [(colorPicker)]="element.background_color" [style.background]="element.background_color">
  </div>
  <div class="form-group">
    <label>Font-size:</label>
    <input type="text" [(ngModel)]="element.font_size"> px
  </div>
  <div class="form-group">
    <label>Font-weight:</label>
    <input type="number" [(ngModel)]="element.font_weight"> px
  </div>
  <div class="form-group">
    <label>Padding:</label>
    <input type="text" [(ngModel)]="element.padding"> px
  </div>
</div>

